.movie-list {
    margin: 10px 40px;
}
/* override bootstrap default */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, .table>tbody+tbody {
    border-top: none !important;
    
}
#movie-table {
    color: black;
    border-collapse: separate;
    /* border-style: hidden !important; */
}
th {
    text-align: center;
}
.list-item {
    text-align: center;
    background-color: rgba(81, 94, 153, 0.3);
}
.list-table-data {
    color:#fff;
}
.list-item tr:hover {
    background-color: rgb(79, 93, 153, 0.5) 
}
.table-spacing {
    margin-top: 3px;
}